<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>Servlet.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConseguirAeropuertos</servlet-name>
        <servlet-class>Servlet.ConseguirAeropuertos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConseguirConexiones</servlet-name>
        <servlet-class>Servlet.ConseguirConexiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepararPasajeros</servlet-name>
        <servlet-class>Servlet.PrepararPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontarPasajeros</servlet-name>
        <servlet-class>Servlet.MontarPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConseguirAeropuertosDisponibles</servlet-name>
        <servlet-class>Servlet.ConseguirAeropuertosDisponibles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherAcceso</servlet-name>
        <servlet-class>Servlet.DispatcherAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>montarServicios</servlet-name>
        <servlet-class>Servlet.montarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>montarCliente</servlet-name>
        <servlet-class>Servlet.montarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesoSistema</servlet-name>
        <servlet-class>Servlet.accesoSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>desconectarSistema</servlet-name>
        <servlet-class>Servlet.desconectarSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConseguirColumnasAsiento</servlet-name>
        <servlet-class>Servlet.ConseguirColumnasAsiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConseguirFilasAsiento</servlet-name>
        <servlet-class>Servlet.ConseguirFilasAsiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesoRegistro</servlet-name>
        <servlet-class>Servlet.accesoRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTarjeta</servlet-name>
        <servlet-class>Servlet.addTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontarReserva</servlet-name>
        <servlet-class>Servlet.MontarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerReservaPDF</servlet-name>
        <servlet-class>Servlet.ObtenerReservaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarAccion</servlet-name>
        <servlet-class>Servlet.ReservarAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaReserva</servlet-name>
        <servlet-class>Servlet.buscaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facturarIDA</servlet-name>
        <servlet-class>Servlet.facturarIDA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facturarVUELTA</servlet-name>
        <servlet-class>Servlet.facturarVUELTA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerFacturacionPDF</servlet-name>
        <servlet-class>Servlet.ObtenerFacturacionPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarCliente</servlet-name>
        <servlet-class>Servlet.registrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaVuelo</servlet-name>
        <servlet-class>Servlet.buscaVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DespegarVuelo</servlet-name>
        <servlet-class>Servlet.DespegarVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadisticas</servlet-name>
        <servlet-class>Servlet.Estadisticas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConseguirAeropuertos</servlet-name>
        <url-pattern>/ConseguirAeropuertos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConseguirConexiones</servlet-name>
        <url-pattern>/ConseguirConexiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepararPasajeros</servlet-name>
        <url-pattern>/PrepararPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontarPasajeros</servlet-name>
        <url-pattern>/MontarPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConseguirAeropuertosDisponibles</servlet-name>
        <url-pattern>/ConseguirAeropuertosDisponibles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherAcceso</servlet-name>
        <url-pattern>/DispatcherAcceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>montarServicios</servlet-name>
        <url-pattern>/montarServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>montarCliente</servlet-name>
        <url-pattern>/montarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesoSistema</servlet-name>
        <url-pattern>/accesoSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>desconectarSistema</servlet-name>
        <url-pattern>/desconectarSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConseguirColumnasAsiento</servlet-name>
        <url-pattern>/ConseguirColumnasAsiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConseguirFilasAsiento</servlet-name>
        <url-pattern>/ConseguirFilasAsiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesoRegistro</servlet-name>
        <url-pattern>/accesoRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTarjeta</servlet-name>
        <url-pattern>/addTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontarReserva</servlet-name>
        <url-pattern>/MontarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerReservaPDF</servlet-name>
        <url-pattern>/ObtenerReservaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarAccion</servlet-name>
        <url-pattern>/ReservarAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaReserva</servlet-name>
        <url-pattern>/buscaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facturarIDA</servlet-name>
        <url-pattern>/facturarIDA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facturarVUELTA</servlet-name>
        <url-pattern>/facturarVUELTA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerFacturacionPDF</servlet-name>
        <url-pattern>/ObtenerFacturacionPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarCliente</servlet-name>
        <url-pattern>/registrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaVuelo</servlet-name>
        <url-pattern>/buscaVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DespegarVuelo</servlet-name>
        <url-pattern>/DespegarVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estadisticas</servlet-name>
        <url-pattern>/Estadisticas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
